<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKU Price Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Add some CSS styles for spacing -->
</head>

<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo"
        style="max-width: 35%; height: auto; margin-top: 0px;">

    <h1>SKU Price Calculator</h1>
    <div class="container"></div>
    <div class="form-container">
        <form id="price-calc-form" action="/" method="post">

            <label for="title">Title of Piece:</label>
            <input type="text" name="title" value="{{ request.form['title'] }}" required><br>

            <label for="length">Length:</label>
            <input type="text" name="length" value="{{ request.form['length'] }}" required><br>

            <label for="width">Width:</label>
            <input type="text" name="width" value="{{ request.form['width'] }}" required><br>

            <label for="substrate">Substrate:</label>
            <select name="substrate" id="substrate">
                <option value="canvas">Canvas</option>
                <option value="Epson-paper">Epson Paper</option>
                <option value="Canon-paper">Canon Paper</option>
                <option value="mdf">MDF</option>
            </select> <br>

            <label for="printer">Printer:</label>
            <select name="printer" id="printer">
                <option value="inca-reductive">Inca-Reductive</option>
                <option value="inca-synograph">Inca-Synograph</option>
                <option value="epson">Epson</option>
                <option value="swissQ-synograph">swissQ-Synograph</option>
                <option value="SwissQ-Reductive">SwissQ-Reductive</option>
                <option value="canon">Canon</option>
            </select> <br>

            <label for="frame_type">Frame Type:</label>
            <select name="frame_type" id="frame_type">
                <option value="fps">Gallery Wrap/Mount</option>
                <option value="bfl">Black Float</option>
                <option value="cfl">Champagn Float</option>
                <option value="gfl">Gold Float</option>
                <option value="bgf">Black Gold Float</option>
                <option value="nfl">Natural Float</option>
                <option value="wfl">Walnut Float</option>
                <option value="wcap">Walnut Cap</option>
                <option value="bcap">Black Cap</option>
                <option value="ncap">Natural Cap</option>
                <option value="gcap">Gold Cap</option>
                <option value="gwt">Gallery Wrap W/ Tacks</option>
                <option value="capa">Capital A Antique Gold</option>
                <option value="capb">Capital B Antique Gold</option>
                <option value="capba">Capital B Antique Gold W/ Acrylic</option>
            </select> <br>

            <label for="hardware">Hanging Hardware:</label>
            <select name="hardware" id="hardware">
                <option value="cleat">Cleat</option>
                <option value="wire">Plastic Wire</option>
                <option value="d-rings">D-rings</option>
            </select> <br>

            <label for="margin_percent">Desired Percent Margin:</label>
            <input type="text" name="margin_percent" value="{{ request.form['margin_percent'] }}" required><br>

            <label for="royality_percent">Percent Royalty:</label>
            <select name="royality_percent" id="royality_percent">
                <option value="0">0%</option>
                <option value="5">5%</option>
                <option value="10">10%</option>
            </select>

            <button>Calculate</button>
        </form>
    </div>

    <!--Display the results in a container on the same page____________________________________________________________________________-->
    <div class="table-container">
        <!-- Display results in a table or another suitable format -->
        <table id="results-table" class="hidden">
            <tr>
                <th>Title</th>
                <th>Length</th>
                <th>Width</th>
                <th>Printer</th>
                <th>Substrate</th>
                <th>Frame Type</th>
                <th>Hardware</th>
                <th>margin_percent</th>
                <th>royality_percent</th>
                <th>Price</th>
            </tr>
            {% if data %}
            <tr>
                <td>{{data.title}}</td>
                <td>{{data.length}}</td>
                <td>{{data.width}}</td>
                <td>{{data.printer}}</td>
                <td>{{data.substrate}}</td>
                <td>{{data.frame_type}}</td>
                <td>{{data.hardware}}</td>
                <td>{{data.margin_percent}}</t>
                <td>{{data.royality_percent}}</td>
                <td>{{data.price}}</td>
                {}
            </tr>
            {% endif %}

            <!-- Table headers -->

            <!-- Table body will be populated dynamically using JavaScript -->
        </table>
    </div>
    </div>
</body>

</html>